<div class="wrapper-form">
  <div class="container-form">
    <h1 class="text-center">Edit Artist Information</h1>

    <%= render 'form', artist: @artist %>

    <% link_to 'Show', @artist %>
    <% link_to 'Back', artists_path %>
  </div>
</div>
