<style>
  body{
    display: inline-block;
  }
  h1{
    text-align: center;
  }
  .wrapper{
    display: block;
    text-align: center;
    padding: 40px 20px;
    max-width: 600px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 20px;
  }
</style>
<div class="wrapper">
<h1><%= @greeting %></h1>
  <p>
    Welcome to Mugatu. You can finds all kinds of wonderful models. Male models, female models, trans models. Non-gender-binary models from around the world! Get started!
  </p>
</div>
