.card-link a {
  z-index: 98;
}
.card .icon {
  position: absolute;
  z-index: 99;
  color: black;
  :hover{
    color: red;
  }
}

.delete{
  bottom: 20px;
  left: 20px;
}

.edit{
  bottom: 20px;
  right: 20px;
}

.bookings li{
  margin-top: 20px;
}
