/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper {
  background-color: $light_grey;
}

.alert, .notice {
  background-color: $light_grey;
  margin: 0 auto;
}
html, body {
  height:100%;
}
