/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.wrapper {
  background-color: $light_grey;
}

.wrapper_cta {
  background-color: $purple;
  padding:50px;
  color: white;
  .btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 150px #000000;
    transition: 0.7s ease-in;
  }
}

.call_to_action{
  width: 130px;
  padding: 10px 10px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  h2{
    margin: 30px 30px;
  }

}

.alert, .notice {
  background-color: $light_grey;
  margin: 0 auto;
}
html, body {
  height:100%;
  position: relative;
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  margin-top: -32px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 20px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  background:$light_grey;
  font-size: 15px;
}
.search-wrapper {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

#search {
  height: 60px;
  font-size: 36px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  color: white;
  border-bottom: 1px solid #BBB;
}

#search:focus:hover {
  color: white;
}

#search:focus {
  width: 100%;
  color: white;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
#search_submit {
  outline: none;
  height: 67px;
  display: inline-block;
  color: white;
  font-size: 36px;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.1;
  cursor: pointer;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
}

#search_submit:hover {
  color: white;
  opacity: 0.1;
}

.form {
  color: white;
}

