@import "home";
@import "dashboard";



// .wrapper, wrapperindex {
//   height: 500px;
//   width: 500px
// }

html,body{
  height: 100%
}

.wrapper, .wrapperindex{
background-color: #ffffff
}



.parent {
  display: flex;
  height: 100vh;
  padding-top: 38px;
}

.left {
  flex: 1;
  overflow: scroll;
}

.right {
  flex: 1;
}

.container-fluid{
  max-width: 1000px;
  background: white;
}
.card-image img {
  max-height: 300px;
}
