<div id="footer-mugatu">
  <div class="footer_inside">
    <div class="footer_content">
      <ul class="list-inline">
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>

      <p>All rights reserved 2017 Mugatu Intelligence Services LLC.</p>
    </div>
  </div>
</div>
