.model_page_image {
  height: 80vh;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  display: flex;
  position: relative;
}

.artist-container{
  margin: 0px 0px;
  width: 100%
}

.artist-info h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top:20px;
  left: 20px;
}

.artist-info .info {
  position: absolute;
  top: 80px;
  left: 20px
}

.artist-info .booking_form_wrapper{
  z-index: 3;
  position:absolute;
  max-width: 250px;
  right: 20px;
  bottom:20px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.43);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background 0.5s ease;
  border-radius: 7px;
  *{
    color: black;
  }
}

.artist-info .booking_form_wrapper:hover {
    background: rgba(255, 255, 255, 0.85);
}

.artist-info .booking_form_wrapper .booking_button{
  padding: 0 20px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $purple;
  color: white;
  font-size: 14px;
  border: 2px solid $purple;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease;
}

.artist-info .booking_form_wrapper .booking_button:hover{
  box-shadow: 0 1px 3px rgba(0, 1, 0, 0.5);
}
.mobile_booking{
  position:relative;
}
.booking_button_mobile{
  z-index: 99;
  position:fixed;
  bottom: 10px;
  width: 100%;
  padding: 0 80px;
  border-radius: 5px;
  line-height: 40px;
  background-color: $purple;
  color: white;
  font-size: 14px;
  border: 2px solid $purple;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease;
}

