// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "devise/index";

.carousel {
  margin: 50px 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.header {
  margin: 10px 30px;
}




